@model WebMVC.Models.Login
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="span9">
    <h3 class="breadcrumb"> Đăng nhập</h3>
    <hr class="soft" />
    <div class="row">
        <div class="span4">
            <div class="well">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @style = "color:red" })
                    <div class="control-group">
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @style = "color:red" })
                        @Html.TextBoxFor(m => m.UserName, new { @type = "text", @id = "inputEmail", @placeholder = "Tên đăng nhập" })
                    </div>
                    <div class="control-group">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                        @Html.TextBoxFor(m => m.Password, new { @type = "password", @id = "inputPassword", @placeholder = "Mật khẩu" })
                    </div>
                    @*<div class="control-group">
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @type = "checkbox" }) Remember me
                        </label>
                    </div>*@
                    <button type="submit" class="btn btn-success">Đăng nhập</button>                    
                }
            </div>
        </div>
    </div>
</div>