@model List<WebMVC.Models.OrderModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssHeader
{
    <style>
        #status {
            display: flex;
            margin-bottom: 0;
        }

        #title-bar {
            display: flex;
            justify-content: space-between;
        }
    </style>
}
<div class="span9">

    <div class="breadcrumb" id="title-bar">
        <h3 style="margin:0">Đơn hàng</h3>
        <div class="navbar pull-right" id="status">
            <ul id="topMenu" class="nav">
                <li class=""><a href=@Url.Action("Index", "Order", new { status = 1}) style="color:black">Chờ xác nhận</a></li>
                <li class=""><a href=@Url.Action("Index", "Order", new { status = 2}) style="color:black">Đang giao hàng</a></li>
                <li class=""><a href=@Url.Action("Index", "Order", new { status = 3}) style="color:black">Đã nhận hàng</a></li>
                <li class=""><a href=@Url.Action("Index", "Order", new { status = 0}) style="color:black">Đã huỷ</a></li>
            </ul>
        </div>
    </div>

    <hr class="soft">
    @if (Model.Count == 0)
    {
        <h2>Không có đơn hàng nào</h2>
    }
    else
    {
        foreach (var item in Model)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pro in item.ListProduct)
                    {
                        <tr id="row_@item.">
                            <td> <img width="60" src=@pro.Product1.Avatar alt="" /></td>
                            <td>@pro.Product1.Name<br />Color : black, Material : metal</td>
                            <td>@pro.Quantity</td>
                            <td id="cart_one_price_@pro.Product1.Id">@pro.Product1.Price đ</td>
                            <td id="cart_all_price_@pro.Product1.Id">@(pro.Quantity * pro.Product1.Price) đ</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4" style="text-align:right"><strong>Tổng tiền =</strong></td>
                        <td class="label label-important" style="display:block"> <strong id="total"> @item.Order.TotalPrice đ </strong></td>
                    </tr>
                    <tr>
                        <td style="text-align:right"><strong>Ngày đặt hàng </strong></td>
                        <td colspan="3"> <strong id="total"> @item.Order.Time </strong></td>
                        <td>
                            <input type="button" value="Huỷ đơn" style="width:100%" onclick="location.href='@Url.Action("Cancel", "Order", new {orderId = item.Order.Id})'">
                        </td>
                    </tr>
                    @if (ViewBag.Status == 3)
                    {
                        <tr>
                            <td style="text-align:right"><strong>Ngày nhận hàng </strong></td>
                            <td colspan="4"> <strong id="total"> @item.Order.ReceiveDate </strong></td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    }
</div>