@model PagedList.IPagedList<WebMVC.Models.Product>
@using WebMVC.Models
@using PagedList.Mvc;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = (User)Session["user"];
}
@section jsFooter{
    <script>
        $('.addCart').off('click').on('click', function (e) {
            e.preventDefault();
            var proId = $(this).data('id');
            $.ajax({
                url: '/Cart/AddItem',
                type: 'POST',
                async: true,
                data: { proId: proId },
                success: function (msg) {
                    if (msg.status == 'true') {
                        $('#cartText').text('Giỏ hàng: ' + msg.totalProducts);
                        $('#cartPrice').text(msg.totalPrice + ' đ');
                        $('#cartQuantity').text(msg.totalProducts);
                    }
                    else {
                        alert('Thêm không thành công');
                    }
                }
            })
        });
        $('#sortName').off('click').on('click', function (e) {
            e.preventDefault();
            var cateId = $(this).data('id');
            $.ajax({
                url: '/Category/ProductsList',
                type: 'GET',
                async: true,
                data: { cateId: cateId, sort: "nameIncrease" },
            })
        });
    </script>
}
<div class="span9">
    <h3 class="breadcrumb">
        @ViewBag.CateName
        <small class="pull-right" style="width:333px">
            @using (Html.BeginForm("ProductsList", "Category", FormMethod.Post, new { @class = "form-horizontal span6", @style = "margin-bottom: 0px; margin-left: 0px; width: 333px" }))
            {
                <div class="control-group" style="width:350px">
                    <label class="control-label alignL" style="width:100px">Sắp xếp </label>
                    <select>
                        <option>Tên sản phẩm Z - A</option>
                        <option>Tên sản phẩm Z - A</option>
                        <option>Giá thấp đến cao</option>
                        <option>Giá cao đến thấp</option>
                    </select>
                </div>
            }
        </small>
    </h3>
    <p>
        Đây là phẩn mô tả danh mục
    </p>
    <hr class="soft" />
    <div class="tab-content">
        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">
                @foreach (var item in Model)
                {
                    <li class="span3">
                        <div class="thumbnail">
                            <a href=@Url.Action("ProductDetail", "Product", new { Id = item.Id })><img src=@item.Avatar alt="" /></a>
                            <div class="caption">
                                <h5>@item.Name</h5>
                                @if (user != null)
                                {
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn addCart" data-id=@item.Id>Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.Price đ</a></h4>
                                }
                                else
                                {
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href=@Url.Action("Index","Login")>Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.Price đ</a></h4>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("ProductsList", new { cateId = ViewBag.CateId, page }))
    </div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
