@model List<WebMVC.Models.Product>
@using WebMVC.Models
@{
    var user = (User)Session["user"];
}
<div class="row-fluid">
    <div id="featured" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <ul class="thumbnails">
                    @for (int j = 0; j < 4; j++)
                    {
                        <li class="span3">
                            <div class="thumbnail">
                                @*<i class="tag"></i>*@
                                <a href=@Url.Action("ProductDetail", "Product", new { Id = Model[j].Id })><img src=@Model[j].Avatar alt=""></a>
                                <div class="caption">
                                    <h5>@Model[j].Name</h5>
                                    @if (user != null)
                                    {
                                        <h4><a class="btn addCart" data-id=@Model[j].Id>Thêm</a> <span class="pull-right">@Model[j].Price đ</span></h4>
                                    }
                                    else
                                    {
                                        <h4><a class="btn" href=@Url.Action("Index","Login")>Thêm</a> <span class="pull-right">@Model[j].Price đ</span></h4>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            @for (int i = 1; i < 4; i++)
            {
                <div class="item">
                    <ul class="thumbnails">
                        @for (int j = 0; j < 4; j++)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    @*<i class="tag"></i>*@
                                    <a href=@Url.Action("ProductDetail", "Product", new { Id = Model[j+4*i].Id })><img src=@Model[j+4*i].Avatar alt=""></a>
                                    <div class="caption">
                                        <h5>@Model[j + 4 * i].Name</h5>
                                        @if (user != null)
                                        {
                                            <h4><a class="btn addCart" data-id=@Model[j + 4 * i].Id>Thêm</a> <span class="pull-right">@Model[j + 4 * i].Price đ</span></h4>
                                        }
                                        else
                                        {
                                            <h4><a class="btn" href=@Url.Action("Index","Login")>Thêm</a> <span class="pull-right">@Model[j + 4 * i].Price đ</span></h4>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
    </div>
</div>
